<body>
    <div class="container">
        <h2>Add User Details</h2>
        <hr>
        <form [formGroup]="addUserForm" (ngSubmit)="createUser()">


            <div class="form-group">
                <label for="firstName" class="col-sm-3 control-label">First Name</label>
                <div class="col-sm-9">
                    <input formControlName="firstName" type="text" id="firstName" placeholder="First Name"
                        class="form-control" autofocus>
                </div>
            </div>


            <div class="form-group">
                <label for="lastName" class="col-sm-3 control-label">Last Name</label>
                <div class="col-sm-9">
                    <input formControlName="lastName" type="text" id="lastName" placeholder="Last Name"
                        class="form-control" autofocus>
                </div>
            </div>


            <div class="form-group">
                <label for="email" class="col-sm-3 control-label">Email* </label>
                <div class="col-sm-9">
                    <input formControlName="email" type="email" id="email" placeholder="Email" class="form-control"
                        name="email">
                </div>
            </div>


            <div class="form-group">
                <label class="control-label col-sm-3">Gender</label>
                <div class="col-sm-6">
                    <div class="row">
                   
                        <div class="col-sm-4">
                            <input formControlName="gender" type="radio" id="femaleRadio" value="Female">
                            <label class="radio-inline">FEMALE</label>
                        </div>

                        <div class="col-sm-4">
                            <input formControlName="gender" type="radio" id="maleRadio" value="Male">
                            <label class="radio-inline">MALE</label>
                        </div>

                        <div class="col-sm-4">
                            <input formControlName="gender" type="radio" id="otherRadio" value="other">
                            <label class="radio-inline">OTHER</label>
                        </div>

                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="birthDate" class="col-sm-3 control-label">Date of Birth*</label>
                <div class="col-sm-9">
                    <input formControlName="birthday" type="date" id="birthDate" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <label for="phoneNumber" class="col-sm-3 control-label">Phone number </label>
                <div class="col-sm-9">
                    <input formControlName="mobile" type="phoneNumber" id="phoneNumber" placeholder="Phone number"
                        class="form-control">

                </div>
            </div>

            <div class="form-group">
                <label for="countryCode" class="col-sm-3 control-label">Country Code</label>
                <div class="col-sm-9">
                    <input formControlName="country_code" type="phoneNumber" id="countryCode" placeholder="Country Code"
                        class="form-control">

                </div>
            </div>

            <div class="form-group">
                <label for="role" class="col-sm-3 control-label">Role</label>
                <div class="col-sm-9">
                    <input formControlName="role" type="text" id="role" placeholder="Your Role" class="form-control">

                </div>
            </div>

            <div class="form-group">
                <label for="userTitleId" class="col-sm-3 control-label">User Title Id</label>
                <div class="col-sm-9">
                    <input formControlName="user_title_id" type="text" id="userTitleId"
                        placeholder="Enter User Title Id:" class="form-control">

                </div>
            </div>


            <div class="form-group">
                <label for="prefferedLanguage" class="col-sm-3 control-label">Preffered Language</label>
                <div class="col-sm-9">
                    <input formControlName="preffered_language" type="text" id="prefferedLanguage"
                        placeholder="Your Preffered Language" class="form-control">

                </div>
            </div>


            <div class="form-group">
                <label for="passsword" class="col-sm-3 control-label">Generate Password</label>
                <div class="col-sm-9">
                    <input formControlName="password_details" type="text" id="passsword"
                        placeholder="enter true or false" class="form-control">

                </div>
            </div>

            <div class="form-group">
                <label for="pWord" class="col-sm-3 control-label">Password</label>
                <div class="col-sm-9">
                    <input formControlName="password_details" type="password" id="pWord"
                        placeholder="If false than give your passsword" class="form-control">

                </div>
            </div>


        </form>
    </div>
    <button type="submit" (click)="createUser()" class="btn btn-primary btn-block">Save</button>
</body>