<body>
    <section class="vh-100">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-6 col-xl-5">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRfAkVEUiOLDIhv0EyQbsa_pLwGKWJznoDwMA&usqp=CAU"
                     class="img-fluid" alt="Sample image">        

                    <!-- <img src="/home/shiva/Downloads/login.png" alt="error" srcset=""   height = "250" width = "270" > -->

                </div>
                
                
                <!-- Rectangle pictures -->
                <!-- <div class="outer-div" >
                    <div class="inner-div">
                        <div class="innerMost">

                        </div>                           
                    </div>
                </div> -->



                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    <form [formGroup]="loginForm" (ngSubmit)="onlogin()">
                        <!-- Email input -->

                        <div class="heading">
                            <h4> Angular Project </h4>
                        </div>

                        <div class="text">
                            <h6>Welcome Back! Please Login To Your Account. </h6>
                        </div>
                        <div class="form-outline mb-4">
                            <label class="form-label" for="form3Example3">Email address</label>
                            <input formControlName="email" type="email" id="form3Example3"
                                class="form-control form-control-lg" placeholder="Username" />
                            <div *ngIf="loginForm.controls['email'].touched && controls['email'].invalid"
                                class="alert alert-danger error">

                                <div *ngIf="controls['email'].errors && controls['email'].errors['required']">Email is
                                    required.</div>

                                <div *ngIf="controls['email'].errors && controls['email'].errors['email']">Please, enter
                                    valid email
                                    address.</div>

                            </div>
                        </div>

                        <!-- Password Input -->
                        <div class="form-outline mb-3">
                            <label class="form-label" for="form3Example4">Password</label>
                            <input formControlName="password" [type]='inputType' id="form3Example4"
                                class="form-control form-control-lg" placeholder="Password" />

                            <span id="eye" (onClick)="showPassword($event)">
                                <link rel="stylesheet"
                                    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
                                <i (click)="showPassword($event)" class="far fa-eye" aria-hidden="true"
                                    id="togglePassword"></i>
                            </span>
                            <span class="error"
                                *ngIf="controls['password'].errors && controls['password'].errors['minlength']">Incorrect
                                password</span>

                        </div>

                        <div class="d-flex justify-content-between align-items-center">
                            <!-- Checkbox -->
                            <a routerLink="../forgotPassword" class="text-body">Forgot password?</a>
                        </div>

                        <div class="text-center text-lg-start mt-4 pt-2">
                            <button [disabled]="!loginForm.valid" type="submit" (click)="onlogin()"
                                class="btn btn-primary btn-lg"
                                style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>
</body>